{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>
                    Welcome to testo!
                </h1>
                <p> Testo is simple application that allows you to pass test. </p>
                <p> It has no real value and is created for demo purpose only. </p>
                <p> That's why it outputs some debug info, which you would not get for real production application. </p>
                <a class="pull-right btn btn-primary">
                    Enough talk, start test!
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock  %}
