{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>
                    Welcome to testo!
                </h1>
                <p> Testo is simple application that allows you to pass test. </p>
                <p> It has no real value and is created for demo purpose only. </p>
                <p> That's why it outputs some debug info, which you would not get for real production application. </p>
                <a class="pull-right btn btn-primary" href="{{ path('TestStart') }}">
                    Enough talk, start test!
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="well">
        <h3>Last results</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Time spent</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.name }}</td>
                        <td>{{ result.score }}</td>
                        <td>{{ result.time_spent }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}
